html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  height: 100vh;
}
.flex-container > .companies {
  flex: 1 0 60%;
}
/* map.js */
.flex-container > div {
  flex: 1 0 40%;
  position: fixed;
}
/* marker.js */
.marker {
  width: 18px;
  height: 18px;
  background-color: rgb(56, 95, 201);
  border: 2px solid rgb(211, 126, 28);
  border-radius: 100%;
}
/* result.js  */
.result-card {
  max-width: 85%;
  border: 1px solid rgba(199, 199, 199, 0.4);
  border-radius: 3px;
  padding: 15px;
  margin: 30px auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.result-card:hover {
  cursor: pointer;
}
.result-card::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.result-card:hover::after {
  opacity: 1;
}
.company-details {
  display: flex;
}
.company-details > img {
  width: 200px;
  height: 200px;
  margin-right: 30px;
  border-radius: 10px;
}
.company-name {
  margin-top: 0;
}
.company-info {
  float: right;
  font-size: 0.8em;
  text-align: right;
}
.company-info > p {
  margin: 0 0 4px 0;
}
.secondary-color {
  color: rgb(132, 131, 134);
}
