html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  height: 100vh;
}
.flex-container > .companies {
  flex: 1 0 60%;
}

/* map styles */
#map {
  /* width: 100%;
  height: 100%; */
  flex: 1 0 40%;
  background-color: goldenrod;
}
